%header
  %h2 Projekte und Referenzen
%ul
  =# nimm den besten
  =# wlw.de
  %li.web
    .info
      %header
        %h3= link_to "DailyDeal Mobile", "http://m.dailydeal.de/"
      .content
        %p
          Die mobile Webapplikation des Berliner Gutscheinanbieters DailyDeal ist in Zusammenarbeit
          mit Nico Hagenburger entstanden.
          Die Anwendung wurde insbesondere für Tablet-Devices (iPad, Android)
          und Smartphones (iPhone, Android) entwickelt.
          =# responsive
          =# one-site-app

        %p.task
          Entwicklung einer Single-Page-App mit CoffeeScript, HTML5, SASS und dem Javascript-MVC-Framework Backbone.js
          für mobile Endgeräte.
        %p.context
          Auftragsarbeit für die #{link_to "Hagenburger GmbH", "http://www.hagenburger.de"}
          %br
          Team: Eckhard Rotte
        %p.period
          Oktober 2011 - März 2012
    .meta
      %img{ :src => '/images/portfolio/dailydeal.png', :alt => 'DailyDeal Mobile' }

  %li.web
    .info
      %header
        %h3= link_to "Nimm den Besten", "http://nimm-den-besten.de/"
      .content
        %p
          Das Hamburger Startup bietet eine Dienstleistersuche mit
          Bewertungsfunktion und intelligenten Ranking-Funktionen.
          Die Appfertigung hat das Bremer Unternehmen
          = link_to "Kopfmaschine", 'http://kopfmaschine.com'
          beim Projektstart und bei der Web-Entwicklung
          unterstützt.
        %p.task
          Web-Entwicklung mit HTML5, Haml, SASS und CoffeeScript,
          Integration von Google Maps, Backend-Entwicklung mit Ruby on Rails

        %p.context
          Auftragsarbeit für #{link_to "Kopfmaschine / Jan Steinmetz", "http://www.kopfmaschine.com"}
          %br
          Team: Eckhard Rotte und Dennis Reimann
        %p.period
          Dezember 2011 - Januar 2012
    .meta
      %img{ :src => '/images/portfolio/ndb.png', :alt => 'Nimm den Besten' }

  %li.web
    .info
      %header
        %h3= link_to "MeAndYou", "http://www.meandyou.com/"
      .content
        %p
          Die Online-Datingplattform bietet ihren Kunden innovative Features zur Partnervermittlung.
          Marco Pantaleo, Dennis Reimann, Eckhard Rotte und Stefan Schüßler unterstützten das MeAndYou-Team bei der Realisierung der Benutzerverwaltung, des Chats und der Benachrichtigungsfunktionen.
        %p.task
          Backend-Entwicklung mit Ruby on Rails und Frontend-Entwicklung mit HAML, Sass,
          CoffeeScript und jQuery, Implementierung des Chat-Features mit Backbone.js,
          Beschleunigung der Applikationstests
        %p.context
          Auftragsarbeit für die #{link_to "MeAndYou GmbH", "http://www.meandyou.com/"}
          %br
          Team: Marco Pantaleo, Dennis Reimann, Eckhard Rotte und Stefan Schüßler
        %p.period
          Oktober 2011 - Januar 2012
    .meta
      %img{ :src => '/images/portfolio/meandyou.png', :alt => 'MeAndYou' }

  %li.web
    .info
      %header
        %h3= link_to "Künker eLive Auction", "https://live.kuenker.de"
      .content
        %p
          Die Echtzeit-Auktionsplattform bietet den Kunden der Firma Fritz Rudolf Künker regelmäßig
          die Möglichkeit, direkt und unmittelbar am Erlebnis Münzauktion teilzunehmen und Ihre Sammlung
          um weitere Kostbarkeiten zu bereichern. Das Projekt wurde von Dennis Reimann und Stefan Schüßler
          realisiert.
        %p.task
          Beratung, Backend-Entwicklung mit Ruby on Rails und Frontend-Entwicklung mit HAML, Sass,
          CoffeeScript, Backbone.js und jQuery
        %p.context
          Auftragsarbeit für die #{link_to "Fritz Rudolf Künker GmbH & Co. KG", "http://www.kuenker.de/"}
          %br
          Team: Dennis Reimann und Stefan Schüßler
        %p.period
          seit Mai 2010
    .meta
      %img{ :src => '/images/portfolio/elive.png', :alt => "Künker eLive Auction" }

  %li.web
    .info
      %header
        %h3= link_to "Es Ist Deine Stärke", "http://www.es-ist-deine-staerke.de"
      .content
        %p
          In Zusammenarbeit mit Mirja Wenkelewsky (SCHRÖDERS BÜRO) haben Eckhard Rotte und
          Dennis Reimann die technische Realisierung der Berufs- und Lehrstellenbörse für
          die Kreishandwerkerschaft Bremen übernommen. Die Webplattform ermöglicht Handwerksbetrieben
          das Einstellen von Lehrstellen und richtet sich an Jugendliche, die auf der Suche nach
          Ausbildungs- oder Praktikumsplätzen sind.
        %p.task
          Beratung und Backend-Entwicklung mit Ruby on Rails. Frontend-Entwicklung mit HAML, Sass und jQuery
        %p.context
          Auftragsarbeit für #{link_to "SCHRÖDERS BÜRO", "http://schroeders-buero.de/"}
          %br
          Team: Dennis Reimann und Eckhard Rotte
        %p.period
          seit Mai 2010
    .meta
      %img{ :src => '/images/portfolio/khsbremen.png', :alt => "Berufs- und Lehrstellenbörse der Kreishandwerkerschaft Bremen" }
  %li.web
    .info
      %header
        %h3= link_to "Waterfront Bremen", "http://waterfront-bremen.de"
      .content
        %p
          Bastian Fritsch betreut die Website des Shopping- und Freizeitcenters Waterfront Bremen. Zu den Aufgaben gehört
          die Weiter&shy;entwicklung und Optimierung der Site, Konzeption und Entwicklung einer iPhone-Website und die
          Erstellung eines monatlichen Newsletters.
          Ein weiterer Aufgabenbereich sind die Beratung rund um das Thema Social Media sowie die Erstellung
          einer Facebook-Seite.
        %p.task
          Konzeptionelle Beratung, Web-Entwicklung mit MySQL und PHP, Konzeption und Entwicklung einer iPhone-Website
        %p.context
          Auftragsarbeit für die #{link_to "Limetree GmbH", "http://waterfront-bremen.de"}
          %br
          Team: Bastian Fritsch
        %p.period
          seit November 2009
    .meta
      %img{ :src => '/images/portfolio/waterfront-bremen.png', :alt => "Waterfront Bremen" }
  %li#shopshopper.web
    .info
      %header
        %h3= link_to "Shopshopper", "http://shopshopper.net"
      .content
        %p
          Das umfangreiche Online-Portal richtet sich an Kunden aus dem Convenience-Bereich und
          stellt branchenspezifische Tools und Hilfestellungen zur Verfügung.
          Es wurde zunächst von Marco Pantaleo und Stefan Schüßler konzipiert, gestaltet und entwickelt.
          Später stießen dann Dennis Reimann und Eckhard Rotte zum Team hinzu.
          Die gute Zusammenarbeit in diesem Projekt wurde zu einem der Grundsteine für die Appfertigung.

        %p.task
          Beratung und Backend-Entwicklung mit Ruby on Rails. Frontend-Entwicklung mit HAML und jQuery
        %p.context
          Auftragsarbeit für die #{link_to "Shopshopper GmbH", "http://shopshopper.net/"}
          %br
          Team: Marco Pantaleo, Dennis Reimann, Eckhard Rotte und Stefan Schüßler
        %p.period
          seit September 2008
    .meta
      %img{ :src => '/images/portfolio/shopshopper.png', :alt => "Shopshopper" }
  %li.web
    .info
      %header
        %h3= link_to "DIE ZEIT Webshop", "http://shop.zeit.de/"
      .content
        %p
          Die Entwicklung und Betreuung des Webshop für DIE ZEIT
          war das erste gemeinsame Projekt von Dennis Reimann und Eckhard Rotte.
          Sowohl der Shop als auch das Adminis&shy;trationsbackend wurden mit Ruby on Rails entwickelt.
          Interessante Aufgabenstellungen waren dabei unter anderem die Anbindung von Drittanbietern
          über Web&shy;service-Schnittstellen und die Integration des Payment-Gateways.
        %p.task
          Backend-Entwicklung mit Ruby on Rails und PostgreSQL, REST- und SOAP-Webservices,
          Frontend-Entwicklung
        %p.context
          Festanstellung bei #{link_to "neuland bremen GmbH", "http://neuland-bfi.de/"}
          %br
          Team: Dennis Reimann und Eckhard Rotte
        %p.period
          Januar 2007 - Juni 2010
    .meta
      %img{ :src => '/images/portfolio/zeitshop.png', :alt => "DIE ZEIT Webshop" }
