%section#intro
  %p
    Die Appfertigung ist ein Netzwerk von #{link_to "Softwareentwicklern und Designern", "#team"}.
    %br
    Wir realisieren Anwendungen für das Web von heute und morgen.
    %br
    Unser Schwerpunkt liegt dabei auf #{link_to "agiler Softwareentwicklung", "#wie-wir-arbeiten"} mit Ruby on Rails, JavaScript und HTML5.
    Uns alle verbindet der Anspruch an unsere Arbeit:
  %p
    %em
      #{link_to "Zuverlässige Software", "#projekte"} in kreativer Teamarbeit zu konzipieren, gestalten und entwickeln.

%hr.red

%section#wie-wir-arbeiten
  %header
    %h2 Wie wir arbeiten
  %img#cycle{ :src => '/images/discuss-develop-deploy.png', :alt => "Unsere Arbeitsweise", :width =>"250", :height => "250" }
  %p
    Unser Ziel sind nutzbare Anwendungen – von Tag eins an. Das funktioniert am besten, wenn wir uns über
    etwas Reales unterhalten. Unsere Arbeitsweise stellt lauffähige Software in den Vordergrund – wir sprechen
    über konkrete Ziele und Problemstellungen, statt über vage Ideen und mögliche Hürden.
  %p
    Bei uns entstehen Projekte in enger Zusammenarbeit mit dem Kunden: Gemeinsam ermitteln wir Anforderungen,
    erarbeiten Ziele und setzen diese um. Unsere Arbeit findet in überschaubaren Abschnitten statt, an deren
    Ende immer funktionsfähige Software steht. So verbessern wir das Projekt durch Ihr kontinuierliches Feedback,
    senken die Kosten von Anpassungen und liefern früh Ergebnisse.
  %p.conclusion
    %i
      Wir sind pragmatisch und reden lieber über funktionierende Software als über seitenlange Konzepte.

%hr.red

%section#team
  = partial('members')

%hr.red

%section#projekte
  = partial('projects')