%section#intro
  %p
    Die Appfertigung ist ein Netzwerk von #{link_to "Softwareentwicklern und Designern", "#team"}.
    %br
    Wir realisieren Anwendungen für das Web von heute und morgen.
    %br
    Unser Schwerpunkt liegt dabei auf #{link_to "agiler Softwareentwicklung", "#wie-wir-arbeiten"} mit Ruby on Rails, JavaScript und HTML5.
    Uns alle verbindet der Anspruch an unsere Arbeit:
  %p
    %em
      #{link_to "Zuverlässige Software", "#projekte"} in kreativer Teamarbeit zu konzipieren, gestalten und entwickeln.

%hr.red

%section#wie-wir-arbeiten
  %header
    %h2 Wie wir arbeiten
  %img#cycle{ :src => '/images/discuss-develop-deploy.png', :alt => "Unsere Arbeitsweise", :width =>"250", :height => "250" }
  %p
    Unser Ziel sind nutzbare Anwendungen – von Tag eins an. Das funktioniert am besten, wenn wir uns über
    etwas Reales unterhalten. Unsere Arbeitsweise stellt lauffähige Software in den Vordergrund – wir sprechen
    über konkrete Ziele und Problemstellungen, statt über vage Ideen und mögliche Hürden.
  %p
    Bei uns entstehen Projekte in enger Zusammenarbeit mit dem Kunden: Gemeinsam ermitteln wir Anforderungen,
    erarbeiten Ziele und setzen diese um. Unsere Arbeit findet in überschaubaren Abschnitten statt, an deren
    Ende immer funktionsfähige Software steht. So verbessern wir das Projekt durch Ihr kontinuierliches Feedback,
    senken die Kosten von Anpassungen und liefern früh Ergebnisse.
  %p.conclusion
    %i
      Wir sind pragmatisch und reden lieber über funktionierende Software als über seitenlange Konzepte.

%hr.red

%section#team
  %header
    %h2 Das Team
  %ul
    %li.member
      %img{ :src => '/images/bastian_fritsch.jpg', :alt => "Bastian Fritsch" }
      %div.profile
        %p
          %strong
            Bastian Fritsch
          ist seit sieben Jahren als freier Webentwickler tätig.
          Neben der Programmierung von Standardkonformen Webseiten, am liebsten
          mit dem Content Management System „Silverstripe“, lehrt er auch zu
          Strategien im Web und versucht dabei komplexe Themen einfach darzustellen.
        %ul.profiles
          %li
            %a{:href => "http://bastianfritsch.de"} Website
          %li
            %a{:href => "http://www.facebook.com/bastian.fritsch"} Facebook
    %li.member
      %img{ :src => '/images/dennis_reimann.jpg', :alt => "Dennis Reimann" }
      %div.profile
        %p
          %strong
            Dennis Reimann
          ist Software-Entwickler und realisiert seit sieben Jahren
          Projekte im Bereich Webentwicklung sowie Anwendungen für mobile
          Endgeräte. Seine Schwerpunkte sind die Anwendungsentwicklung
          mit Ruby on Rails, JavaScript und verschiedensten Datenbanksystemen.
          Neben seinen beruflichen Auftragstätigkeiten betreibt er mehrere
          eigene Projekte und engagiert sich im Bereich der Open Source-Software.
        %ul.profiles
          %li
            %a{:href => "https://github.com/dbloete"} GitHub
          %li
            %a{:href => "https://twitter.com/dennisreimann"} Twitter
          %li
            %a{:href => "https://www.facebook.com/dbloete"} Facebook
          %li
            %a{:href => "https://www.xing.com/profile/Dennis_Reimann5"} XING
          %li
            %a{:href => "http://dennisreimann.de"} Website
    %li.member
      %img{ :src => '/images/eckhard_rotte.jpg', :alt => "Eckhard Rotte" }
      %div.profile
        %p
          %strong
            Eckhard Rotte
          ist Software-Entwickler mit den Schwerpunkten Ruby on Rails und Frontend-Entwicklung mit HTML, JavaScript und CSS.
          Er entwickelt seit 1997 Webanwendungen und verfügt vor allem im Bereich E-Commerce über eine langjährige Erfahrung.
          Außerdem beschäftigt er sich mit den Themen Usability und User Experience.
        %ul.profiles
          %li
            %a{:href => "https://github.com/erotte"} GitHub
          %li
            %a{:href => "https://twitter.com/erotte"} Twitter
          %li
            %a{:href => "https://www.facebook.com/erotte"} Facebook
          %li
            %a{:href => "https://www.xing.com/profile/Eckhard_Rotte"} XING
    %li.member
      %img{ :src => '/images/stefan_schuessler.jpg', :alt => "Stefan Schüßler" }
      %div.profile
        %p
          %strong
            Stefan Schüßler
          ist seit 2001 als Web-Entwickler für anspruchsvolle Kunden in ganz Deutschland tätig.
          Seine Schwerpunkte sind Interfacedesign und Programmierung von Webanwendungen mit Ruby on Rails und
          JavaScript. Neben den Web-Projekten entwickelt Stefan Apps für Mac OS X.
        %ul.profiles
          %li
            %a{:href => "https://github.com/sos4nt"} GitHub
          %li
            %a{:href => "https://twitter.com/sos4nt"} Twitter
          %li
            %a{:href => "https://www.facebook.com/sos4nt"} Facebook
          %li
            %a{:href => "https://www.xing.com/profile/Stefan_Schuessler4"} XING

%hr.red

%section#projekte
  %header
    %h2 Projekte und Referenzen
  %ul
    %li.web
      .info
        %header
          %h3= link_to "MeAndYou", "http://www.meandyou.com/"
        .content
          %p
            Die Online-Datingplattform bietet ihren Kunden innovative Features zur Partnervermittlung.
            Marco Pantaleo, Dennis Reimann, Eckhard Rotte und Stefan Schüßler unterstützten das MeAndYou-Team bei der Realisierung der Benutzerverwaltung, des Chats und der Benachrichtigungsfunktionen.
          %p.task
            Backend-Entwicklung mit Ruby on Rails und Frontend-Entwicklung mit HAML, Sass,
            CoffeeScript und jQuery, Implementierung des Chat-Features mit Backbone.js,
            Beschleunigung der Applikationstests
          %p.context
            Auftragsarbeit für die #{link_to "MeAndYou GmbH", "http://www.meandyou.com/"}
          %p.period
            Oktober 2011 - Januar 2012
      .meta
        %img{ :src => '/images/portfolio/meandyou.png', :alt => 'MeAndYou' }

    %li.web
      .info
        %header
          %h3= link_to "Künker eLive Auction", "https://live.kuenker.de"
        .content
          %p
            Die Echtzeit-Auktionsplattform bietet den Kunden der Firma Fritz Rudolf Künker regelmäßig
            die Möglichkeit, direkt und unmittelbar am Erlebnis Münzauktion teilzunehmen und Ihre Sammlung
            um weitere Kostbarkeiten zu bereichern. Das Projekt wurde von Dennis Reimann und Stefan Schüßler
            realisiert.
          %p.task
            Beratung, Backend-Entwicklung mit Ruby on Rails und Frontend-Entwicklung mit HAML, Sass,
            CoffeeScript, Backbone.js und jQuery
          %p.context
            Auftragsarbeit für die #{link_to "Fritz Rudolf Künker GmbH & Co. KG", "http://www.kuenker.de/"}
          %p.period
            seit Mai 2010
      .meta
        %img{ :src => '/images/portfolio/elive.png', :alt => "Künker eLive Auction" }

    %li.web
      .info
        %header
          %h3= link_to "Es Ist Deine Stärke", "http://www.es-ist-deine-staerke.de"
        .content
          %p
            In Zusammenarbeit mit Mirja Wenkelewsky (SCHRÖDERS BÜRO) haben Eckhard Rotte und
            Dennis Reimann die technische Realisierung der Berufs- und Lehrstellenbörse für
            die Kreishandwerkerschaft Bremen übernommen. Die Webplattform ermöglicht Handwerksbetrieben
            das Einstellen von Lehrstellen und richtet sich an Jugendliche, die auf der Suche nach
            Ausbildungs- oder Praktikumsplätzen sind.
          %p.task
            Beratung und Backend-Entwicklung mit Ruby on Rails. Frontend-Entwicklung mit HAML, Sass und jQuery
          %p.context
            Auftragsarbeit für #{link_to "SCHRÖDERS BÜRO", "http://schroeders-buero.de/"}
          %p.period
            seit Mai 2010
      .meta
        %img{ :src => '/images/portfolio/khsbremen.png', :alt => "Berufs- und Lehrstellenbörse der Kreishandwerkerschaft Bremen" }
    %li.web
      .info
        %header
          %h3= link_to "Waterfront Bremen", "http://waterfront-bremen.de"
        .content
          %p
            Bastian Fritsch betreut die Website des Shopping- und Freizeitcenters Waterfront Bremen. Zu den Aufgaben gehört
            die Weiter&shy;entwicklung und Optimierung der Site, Konzeption und Entwicklung einer iPhone-Website und die
            Erstellung eines monatlichen Newsletters.
            Ein weiterer Aufgabenbereich sind die Beratung rund um das Thema Social Media sowie die Erstellung
            einer Facebook-Seite.
          %p.task
            Konzeptionelle Beratung, Web-Entwicklung mit MySQL und PHP, Konzeption und Entwicklung einer iPhone-Website
          %p.context
            Auftragsarbeit für die #{link_to "Limetree GmbH", "http://waterfront-bremen.de"}
          %p.period
            seit November 2009
      .meta
        %img{ :src => '/images/portfolio/waterfront-bremen.png', :alt => "Waterfront Bremen" }
    %li#shopshopper.web
      .info
        %header
          %h3= link_to "Shopshopper", "http://shopshopper.net"
        .content
          %p
            Das umfangreiche Online-Portal richtet sich an Kunden aus dem Convenience-Bereich und
            stellt branchenspezifische Tools und Hilfestellungen zur Verfügung.
            Es wurde zunächst von Marco Pantaleo und Stefan Schüßler konzipiert, gestaltet und entwickelt.
            Später stießen dann Dennis Reimann und Eckhard Rotte zum Team hinzu.
            Die gute Zusammenarbeit in diesem Projekt wurde zu einem der Grundsteine für die Appfertigung.

          %p.task
            Beratung und Backend-Entwicklung mit Ruby on Rails. Frontend-Entwicklung mit HAML und jQuery
          %p.context
            Auftragsarbeit für die #{link_to "Shopshopper GmbH", "http://shopshopper.net/"}
          %p.period
            seit September 2008
      .meta
        %img{ :src => '/images/portfolio/shopshopper.png', :alt => "Shopshopper" }
    %li.web
      .info
        %header
          %h3= link_to "DIE ZEIT Webshop", "http://shop.zeit.de/"
        .content
          %p
            Die Entwicklung und Betreuung des Webshop für DIE ZEIT
            war das erste gemeinsame Projekt von Dennis Reimann und Eckhard Rotte.
            Sowohl der Shop als auch das Adminis&shy;trationsbackend wurden mit Ruby on Rails entwickelt.
            Interessante Aufgabenstellungen waren dabei unter anderem die Anbindung von Drittanbietern
            über Web&shy;service-Schnittstellen und die Integration des Payment-Gateways.
          %p.task
            Backend-Entwicklung mit Ruby on Rails und PostgreSQL, REST- und SOAP-Webservices,
            Frontend-Entwicklung
          %p.context
            Festanstellung bei #{link_to "neuland bremen GmbH", "http://neuland-bfi.de/"}
          %p.period
            Januar 2007 - Juni 2010
      .meta
        %img{ :src => '/images/portfolio/zeitshop.png', :alt => "DIE ZEIT Webshop" }
