%section#intro
  %p
    Die Appfertigung ist ein Netzwerk von #{link_to "Softwareentwicklern und Designern", "#team"}.
    %br
    Wir realisieren Anwendungen für das Web von heute und morgen.
    %br
    Unser Schwerpunkt liegt dabei auf #{link_to "agiler Softwareentwicklung", "#wie-wir-arbeiten"} mit Ruby on Rails, JavaScript und HTML5.
    Uns alle verbindet der Anspruch an unsere Arbeit:
    %em
      #{link_to "Zuverlässige Software", "#projekte"} in kreativer Teamarbeit zu konzipieren, gestalten und entwickeln.
%hr.red

%section#wie-wir-arbeiten
  %header
    %h2 Wie wir arbeiten
  %img#cycle{ :src => '/images/discuss-develop-deploy.png', :alt => "Unsere Arbeitsweise", :width =>"199", :height => "199" }
  %p
    Bei uns entstehen Projekte in enger Zusammenarbeit mit dem Kunden. Diese endet nicht bei der konzeptionellen
    Arbeit, sondern erstreckt sich über den gesamten Prozess: Gemeinsam ermitteln wir Anforderungen, erarbeiten
    Ziele und setzen diese um. Unsere Arbeit findet in überschaubaren Abschnitten statt, so dass wir das Projekt
    durch Ihr kontinuierliches Feedback verbessern können. 
    %em
      Wir sind pragmatisch und reden lieber über funktionierende Software als über seitenlange Konzepte.

%hr.red

%section#team
  %header
    %h2 Das Team  
  %ul
    %li.member
      %img{ :src => '/images/arbo_von_monkiewitsch.jpg', :alt => "Arbo von Monkiewitsch" }
      %p
        %strong
          Arbo von Monkiewitsch
        ist Diplom-Informatiker mit langjähriger Erfahrung im Bereich Webentwicklung. 
        Er ist in vielen Programmiersprachen zu Hause und weiss deren jeweilige Vorteile zur pragmatischen 
        Problemlösung effektiv einzusetzen. Seine beruflichen Interessen erstrecken sich von agiler 
        Entwicklung mit Ruby und Rails über Performance- und Skalierungs-Thematiken bis zu noSQL-Datenbanken.
      %ul.profiles
        %li
          %a{:href => "https://github.com/arbovm"} GitHub
        %li
          %a{:href => "https://twitter.com/arbovm"} Twitter
        %li
          %a{:href => "https://www.facebook.com/arbovm"} Facebook
        %li
          %a{:href => "https://www.xing.com/profile/Arbo_vonMonkiewitsch"} XING
    %li.member
      %img{ :src => '/images/bastian_fritsch.jpg', :alt => "Bastian Fritsch" }
      %p
        %strong
          Bastian Fritsch
        ist seit sieben Jahren als freier Webentwickler tätig.
        Neben der Programmierung von Standardkonformen Webseiten, am liebsten
        mit dem Content Management System „Silverstripe“, lehrt er auch zu
        Strategien im Web und versucht dabei komplexe Themen einfach darzustellen.
      %ul.profiles
        %li
          %a{:href => "http://bastianfritsch.de"} Website
        %li
          %a{:href => "http://www.facebook.com/bastian.fritsch"} Facebook
    %li.member
      %img{ :src => '/images/dennis_bloete.jpg', :alt => "Dennis Blöte" }
      %p
        %strong
          Dennis Blöte
        ist Software-Entwickler und realisiert seit sieben Jahren
        Projekte im Bereich Webentwicklung sowie Anwendungen für mobile
        Endgeräte. Seine Schwerpunkte sind die Anwendungsentwicklung
        mit Ruby on Rails, JavaScript und verschiedensten Datenbanksystemen.
        Neben seinen beruflichen Auftragstätigkeiten betreibt er mehrere
        eigene Projekte und engagiert sich im Bereich der Open Source-Software.
      %ul.profiles
        %li
          %a{:href => "https://github.com/dbloete"} GitHub
        %li
          %a{:href => "https://twitter.com/dbloete"} Twitter
        %li
          %a{:href => "https://www.facebook.com/dbloete"} Facebook
        %li
          %a{:href => "https://www.xing.com/profile/Dennis_Bloete"} XING
        %li
          %a{:href => "http://dennisbloete.de"} Website
    %li.member
      %img{ :src => '/images/eckhard_rotte.jpg', :alt => "Eckhard Rotte" }
      %p
        %strong
          Eckhard Rotte
        ist Software-Entwickler mit den Schwerpunkten Ruby on Rails und Frontend-Entwicklung.
        Er entwickelt seit 1997 Webanwendungen. 
      %ul.profiles
        %li
          %a{:href => "https://github.com/erotte"} GitHub
        %li
          %a{:href => "https://twitter.com/erotte"} Twitter
        %li
          %a{:href => "https://www.facebook.com/erotte"} Facebook
        %li
          %a{:href => "https://www.xing.com/profile/Eckhard_Rotte"} XING
    %li.member
      %img{ :src => '/images/marco_pantaleo.jpg', :alt => "Marco Pantaleo" }
      %p
        %strong
          Marco Pantaleo
        ist ein dufter Typ. 
      %ul.profiles
        %li
          %a{:href => "https://github.com/peeofive"} GitHub
        %li
          %a{:href => "https://twitter.com/peeofive"} Twitter
        %li
          %a{:href => "https://www.facebook.com/peeofive"} Facebook
        %li
          %a{:href => "https://www.xing.com/profile/Marco_Pantaleo"} XING
    %li.member
      %img{ :src => '/images/stefan_schuessler.jpg', :alt => "Stefan Schüßler" }
      %p
        %strong
          Stefan Schüßler
        ist ein dufter Typ. 
      %ul.profiles
        %li
          %a{:href => "https://github.com/sos4nt"} GitHub
        %li
          %a{:href => "https://twitter.com/sos4nt"} Twitter
        %li
          %a{:href => "https://www.facebook.com/sos4nt"} Facebook
        %li
          %a{:href => "https://www.xing.com/profile/Stefan_Schuessler4"} XING

%hr.red

%section#projekte
  %header
    %h2 Projekte und Referenzen
  %ul
    %li.web
      .info
        %header
          %h3= link_to "Waterfront Bremen", "http://waterfront-bremen.de"
        .content
          %p
            Betreuung der Webseite des Shopping- und Freizeitcenters Waterfront Bremen. Zu den Aufgaben gehört 
            die Weiterentwicklung und Optimierung der Site, Konzeption und Entwicklung einer iPhone-Website und die 
            Erstellung eines monatlichen Newsletters. 
            Ein weiterer Aufgabenbereich sind die Beratung rund um das Thema Social Media sowie die Erstellung 
            einer Facebook-Seite. 
          %p.task
            Konzeptionelle Beratung, Web-Entwicklung mit MySQL und PHP, Konzeption und Entwicklung einer iPhone-Website
          %p.context
            Auftragsarbeit für die #{link_to "Waterfront Bremen GmbH", "http://waterfront-bremen.de"}
          %p.period
            seit November 2009 
      .meta
        %img{ :src => '/images/portfolio/waterfront-bremen.jpg', :alt => "Waterfront Bremen" }
    %li.web
      .info
        %header
          %h3= link_to "Shopshopper", "http://shopshopper.net"
        .content
          %p
            Das umfangreiche Online-Portal richtet sich an Kunden aus dem Convenience-Bereich und
            stellt branchenspezifische Tools und Hilfestellungen zur Verfügung. 
            Es wurde zunächst von Marco Pantaleo und Stefan Schüßler konzipiert, gestaltet und entwickelt.
            Später stießen dann Dennis Blöte und Eckhard Rotte zum Team hinzu. 
            Die gute Zusammenarbeit in diesem Projekt wurde zu einem der Grundsteine für die Appfertigung.  

          %p.task
            Beratung und Backend-Entwicklung mit Ruby on Rails. Frontend-Entwicklung mit HAML und jQuery
          %p.context
            Auftragsarbeit für die #{link_to "Shopshopper GmbH", "http://shopshopper.net/"}
          %p.period
            seit September 2008
      .meta
        %img{ :src => '/images/portfolio/shopshopper.jpg', :alt => "Shopshopper" }
    %li.web
      .info
        %header
          %h3= link_to "DIE ZEIT Webshop", "http://shop.zeit.de/"
        .content
          %p
            Die Entwicklung und Betreuung des Webshop für DIE ZEIT
            war das erste gemeinsame Projekt von Dennis Blöte und Eckhard Rotte. 
            Sowohl der Shop, als auch das Administrationsbackend wurden mit Ruby on Rails entwickelt.
            Interessante Aufgabenstellungen waren dabei unter anderem die Anbindung von Drittanbietern
            über Webservice-Schnittstellen und die Integration des Payment-Gateways.
          %p.task
            Backend-Entwicklung mit Ruby on Rails und PostgreSQL, REST- und SOAP-Webservices,
            Frontend-Entwicklung 
          %p.context
            Festanstellung bei #{link_to "neuland bremen GmbH", "http://neuland-bfi.de/"}
          %p.period
            Januar 2007 - Juni 2010
      .meta
        %img{ :src => '/images/portfolio/zeitshop.jpg', :alt => "DIE ZEIT Webshop" }
