!!!
%html
  %head
    %title Appfertigung, Software-Entwicklung mit Ruby on Rails, JavaScript und HTML5
    %meta{ :content => 'text/html; charset=UTF-8', :'http-equiv' => 'Content-Type' }
    %meta{ :content => 'tHpclBS6Y8EXfbRePIIi2tBRaof6Kkmw2mREs2ejtZg', :name => "google-site-verification" }
    %meta{ :content => 'Die Appfertigung entwickelt Software für das Web - mit Ruby on Rails, JavaScript und HTML5', :name => "description" }
    %meta{ :content => 'Softwareentwicklung,Webentwicklung,Software,Entwicklung,Entwickler,Beratung,Ruby,Rails,Ruby on Rails,Ruby on Rails Entwickler,JavaScript,HTML5,CSS3,iOS,Mobile', :name => "keywords" }
    = stylesheets "application"
    = stylesheets "print", :media => 'print'
    = javascripts "https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js", "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js", "application"
    /[if IE]
      = stylesheets "ie"
      = javascripts "http://html5shiv.googlecode.com/svn/trunk/html5.js"
  %body#appfertigung
    = partial('header')
    #main
      = yield
    = partial('footer')
    = partial('google_analytics')