%header
  %h2 Projekte und Referenzen
%ul
  = partial('projects/korkindustrie')
  = partial('projects/fnp')
  = partial('projects/ftd')
  = partial('projects/dailydeal')
  = partial('projects/ndb')
  = partial('projects/meandyou')
  = partial('projects/kuenker')
  = partial('projects/khs')
  = partial('projects/waterfront')
  = partial('projects/shopshopper')
  = partial('projects/zeitshop')

